
@{
    ViewData["Title"] = "addLoginAccesser";
}

<h2>Add Admin</h2>

@model ViewRecordProject.Models.Login




<div class="container">

    <form asp-action="addLoginAccesser" asp-controller="Home">
        <div class="form-group">
            <label asp-for="id"></label>
            <input asp-for="id"class="form-control"  placeholder="Your ID goes here" /><br />
        </div>
        <div class="form-group">
            <label asp-for="username"></label>
            <input asp-for="username"class="form-control"  placeholder="Your name goes here" /><br />
        </div>
        <div class="form-group">

            <label asp-for="password"></label>
            <input asp-for="password"class="form-control"  placeholder="Your password goes here" /><br />
        </div>
        
        <input type="submit" value="Save" />
    </form>
</div>


